<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="book icon"></i>Blog Site</div>  
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a> 
            </div>
            
        </div>
        
